<!DOCTYPE html>

<html><head><meta  charset=UTF-8">


  <link rel="stylesheet" href="./My resume _ Uptowork66_files/creator.css">

<body >


<div class="l-content l-col">
  <div class="l-content__in">
    <div id="sectionsContent" style="">


      <div class="section-content" style="display: none" data-section="settings">
        <div class="section-content__group">
          <div class="section-content__group__col">

            <div class="panel panel--white-line">
              <div class="panel__heading">
                Settings

                <div class="right-wrapper">
                </div>
              </div>

              <div class="panel__body"></div></div>

            <div class="panel panel--white-line">
              <div class="panel__heading">
                Font

                <div class="right-wrapper">
                </div>
              </div>

              <div class="panel__body">					<div class="form form--labeled form--lowercase form--big-padding">
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Font type</label>
                      <div class="form__select">

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Font size</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect settingSelectFontSize" data-prefix="fSizeText" data-classes="form__input form__input--md settingSelect settingSelectFontSize">
                          <option value="-5">
                            -5			</option>
                          <option value="-4">
                            -4			</option>
                          <option value="-3">
                            -3			</option>
                          <option value="-2">
                            -2			</option>
                          <option value="-1">
                            -1			</option>
                          <option value="0" selected="">
                            default
                          </option>
                          <option value="+1">
                            +1			</option>
                          <option value="+2">
                            +2			</option>
                          <option value="+3">
                            +3			</option>
                          <option value="+4">
                            +4			</option>
                          <option value="+5">
                            +5			</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div></div>

            <div class="panel panel--white-line">
              <div class="panel__heading">
                Date format

                <div class="right-wrapper">
                </div>
              </div>

              <div class="panel__body">					<div class="form form--labeled form--lowercase form--big-padding">
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Date format</label>
                      <div class="form__select">
                        <select class="form__input form__input--md dateSelect" data-t="d" data-i="19" data-pt="">
                          <option value="Y-m">Y-m (2010-01)</option>
                          <option value="Y.m">Y.m (2010.01)</option>
                          <option value="Y/m">Y/m (2010/01)</option>
                          <option value="m-Y">m-Y (01-2010)</option>
                          <option value="m.Y">m.Y (01.2010)</option>
                          <option value="m/Y">m/Y (01/2010)</option>
                          <option value="M Y">M Y (Jan 2010)</option>

                        </select>
                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Birthday date format</label>
                      <div class="form__select">
                        <select class="form__input form__input--md dateSelect" data-t="d" data-i="20" data-pt="">
                          <option value="Y-m-d">Y-m-d (1980-01-20)</option>
                          <option value="Y.m.d">Y.m.d (1980.01.20)</option>
                          <option value="Y/m/d">Y/m/d (1980/01/20)</option>
                          <option value="d-m-Y">d-m-Y (20-01-1980)</option>
                          <option value="d.m.Y">d.m.Y (20.01.1980)</option>
                          <option value="d/m/Y">d/m/Y (20/01/1980)</option>
                          <option value="j M Y">j M Y (20
                            Jan
                            1980)</option>
                          <option value="j F Y">j F Y (20
                            January
                            1980)</option>
                          <option value="m-d-Y">m-d-Y (01-20-1980)</option>
                          <option value="m.d.Y">m.d.Y (01.20.1980)</option>
                          <option value="m/d/Y">m/d/Y (01/20/1980)</option>
                          <option value="F j, Y">F j, Y (January
                            20, 1980)</option>

                        </select>
                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div></div>

            <div class="panel panel--white-line">
              <div class="panel__heading">
                Name

                <div class="right-wrapper">
                </div>
              </div>

              <div class="panel__body">					<div class="form form--labeled form--lowercase form--big-padding">
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-sm-4 l-col-xs-12">
                      <label>Font type</label>
                      <div class="form__select">

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-4 l-col-xs-12">
                      <label>Font size</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect settingSelectFontSize" data-prefix="fSizeH1" data-classes="form__input form__input--md settingSelect settingSelectFontSize">
                          <option value="-5">
                            -5			</option>
                          <option value="-4">
                            -4			</option>
                          <option value="-3">
                            -3			</option>
                          <option value="-2">
                            -2			</option>
                          <option value="-1">
                            -1			</option>
                          <option value="0" selected="">
                            default
                          </option>
                          <option value="+1">
                            +1			</option>
                          <option value="+2">
                            +2			</option>
                          <option value="+3">
                            +3			</option>
                          <option value="+4">
                            +4			</option>
                          <option value="+5">
                            +5			</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-4 l-col-xs-12">
                      <label>Line break after first name</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect" data-prefix="secTypeName" data-classes="form__input form__input--md settingSelect">
                          <option value="" selected="">no</option>
                          <option value="Block">yes</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>
                        First name style
                      </label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect" data-prefix="fStyleH1" data-classes="form__input form__input--md settingSelect">
                          <option value="">normal</option>
                          <option value="Bold" class="optBold">Bold</option>
                          <option value="Italic" class="optItalic">Italic</option>
                          <option value="BoldItalic" class="optBoldItalic">bold italic</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Last name style</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect" data-prefix="fStyleH1Last" data-classes="form__input form__input--md settingSelect">
                          <option value="">normal</option>
                          <option value="Bold" class="optBold">Bold</option>
                          <option value="Italic" class="optItalic">Italic</option>
                          <option value="BoldItalic" class="optBoldItalic">bold italic</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div></div>

            <div class="panel panel--white-line">
              <div class="panel__heading">
                Profession

                <div class="right-wrapper">
                </div>
              </div>

              <div class="panel__body">					<div class="form form--labeled form--lowercase form--big-padding">
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Font size</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect settingSelectFontSize" data-prefix="fSizeH2" data-classes="form__input form__input--md settingSelect settingSelectFontSize">
                          <option value="-5">
                            -5			</option>
                          <option value="-4">
                            -4			</option>
                          <option value="-3">
                            -3			</option>
                          <option value="-2">
                            -2			</option>
                          <option value="-1">
                            -1			</option>
                          <option value="0" selected="">
                            default
                          </option>
                          <option value="+1">
                            +1			</option>
                          <option value="+2">
                            +2			</option>
                          <option value="+3">
                            +3			</option>
                          <option value="+4">
                            +4			</option>
                          <option value="+5">
                            +5			</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Style</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect" data-prefix="fStyleH2" data-classes="form__input form__input--md settingSelect">
                          <option value="">normal</option>
                          <option value="Bold" class="optBold">Bold</option>
                          <option value="Italic" class="optItalic">Italic</option>
                          <option value="BoldItalic" class="optBoldItalic">bold italic</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div></div>

            <div class="panel panel--white-line">
              <div class="panel__heading">
                Section titles

                <div class="right-wrapper">
                </div>
              </div>

              <div class="panel__body">					<div class="form form--labeled form--lowercase form--big-padding">
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-sm-4 l-col-xs-12">
                      <label>Font type</label>
                      <div class="form__select">

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-4 l-col-xs-12">
                      <label>Font size</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect settingSelectFontSize" data-prefix="fSizeH3" data-classes="form__input form__input--md settingSelect settingSelectFontSize">
                          <option value="-5">
                            -5			</option>
                          <option value="-4">
                            -4			</option>
                          <option value="-3">
                            -3			</option>
                          <option value="-2">
                            -2			</option>
                          <option value="-1">
                            -1			</option>
                          <option value="0" selected="">
                            default
                          </option>
                          <option value="+1">
                            +1			</option>
                          <option value="+2">
                            +2			</option>
                          <option value="+3">
                            +3			</option>
                          <option value="+4">
                            +4			</option>
                          <option value="+5">
                            +5			</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-4 l-col-xs-12">
                      <label>Style</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect optBold" data-prefix="fStyleH3" data-classes="form__input form__input--md settingSelect">
                          <option value="">normal</option>
                          <option value="Bold" class="optBold">Bold</option>
                          <option value="Italic" class="optItalic">Italic</option>
                          <option value="BoldItalic" class="optBoldItalic">bold italic</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div></div>

            <div class="panel panel--white-line">
              <div class="panel__heading">
                Entry titles

                <div class="right-wrapper">
                </div>
              </div>

              <div class="panel__body">					<div class="form form--labeled form--lowercase form--big-padding">
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Font size</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect settingSelectFontSize" data-prefix="fSizeH4" data-classes="form__input form__input--md settingSelect settingSelectFontSize">
                          <option value="-5">
                            -5			</option>
                          <option value="-4">
                            -4			</option>
                          <option value="-3">
                            -3			</option>
                          <option value="-2">
                            -2			</option>
                          <option value="-1">
                            -1			</option>
                          <option value="0" selected="">
                            default
                          </option>
                          <option value="+1">
                            +1			</option>
                          <option value="+2">
                            +2			</option>
                          <option value="+3">
                            +3			</option>
                          <option value="+4">
                            +4			</option>
                          <option value="+5">
                            +5			</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Style</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect optBold" data-prefix="fStyleH4" data-classes="form__input form__input--md settingSelect">
                          <option value="">normal</option>
                          <option value="Bold" class="optBold">Bold</option>
                          <option value="Italic" class="optItalic">Italic</option>
                          <option value="BoldItalic" class="optBoldItalic">bold italic</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                  <div class="l-row">
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Date font size</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect settingSelectFontSize" data-prefix="fSizeDate" data-classes="form__input form__input--md settingSelect settingSelectFontSize">
                          <option value="-5">
                            -5			</option>
                          <option value="-4">
                            -4			</option>
                          <option value="-3">
                            -3			</option>
                          <option value="-2">
                            -2			</option>
                          <option value="-1">
                            -1			</option>
                          <option value="0" selected="">
                            default
                          </option>
                          <option value="+1">
                            +1			</option>
                          <option value="+2">
                            +2			</option>
                          <option value="+3">
                            +3			</option>
                          <option value="+4">
                            +4			</option>
                          <option value="+5">
                            +5			</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Date style</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect optBold" data-prefix="fStyleDate" data-classes="form__input form__input--md settingSelect">
                          <option value="">normal</option>
                          <option value="Bold" class="optBold">Bold</option>
                          <option value="Italic" class="optItalic">Italic</option>
                          <option value="BoldItalic" class="optBoldItalic">bold italic</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                  <div class="l-row">
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Skill description font size</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect settingSelectFontSize" data-prefix="fSizeSkillDesc" data-classes="form__input form__input--md settingSelect settingSelectFontSize">
                          <option value="-5">
                            -5			</option>
                          <option value="-4">
                            -4			</option>
                          <option value="-3">
                            -3			</option>
                          <option value="-2">
                            -2			</option>
                          <option value="-1">
                            -1			</option>
                          <option value="0" selected="">
                            default
                          </option>
                          <option value="+1">
                            +1			</option>
                          <option value="+2">
                            +2			</option>
                          <option value="+3">
                            +3			</option>
                          <option value="+4">
                            +4			</option>
                          <option value="+5">
                            +5			</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Skill description style</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect" data-prefix="fStyleSkillDesc" data-classes="form__input form__input--md settingSelect">
                          <option value="">normal</option>
                          <option value="Bold" class="optBold">Bold</option>
                          <option value="Italic" class="optItalic">Italic</option>
                          <option value="BoldItalic" class="optBoldItalic">bold italic</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                  <div class="l-row">
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Personal info title font size</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect settingSelectFontSize" data-prefix="fSizePersonalTitle" data-classes="form__input form__input--md settingSelect settingSelectFontSize">
                          <option value="-5">
                            -5			</option>
                          <option value="-4">
                            -4			</option>
                          <option value="-3">
                            -3			</option>
                          <option value="-2">
                            -2			</option>
                          <option value="-1">
                            -1			</option>
                          <option value="0" selected="">
                            default
                          </option>
                          <option value="+1">
                            +1			</option>
                          <option value="+2">
                            +2			</option>
                          <option value="+3">
                            +3			</option>
                          <option value="+4">
                            +4			</option>
                          <option value="+5">
                            +5			</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Personal info title style</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect optBold" data-prefix="fStylePersonalTitle" data-classes="form__input form__input--md settingSelect">
                          <option value="">normal</option>
                          <option value="Bold" class="optBold">Bold</option>
                          <option value="Italic" class="optItalic">Italic</option>
                          <option value="BoldItalic" class="optBoldItalic">bold italic</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                  <div class="l-row">
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Personal info text font size</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect settingSelectFontSize" data-prefix="fSizePersonalText" data-classes="form__input form__input--md settingSelect settingSelectFontSize">
                          <option value="-5">
                            -5			</option>
                          <option value="-4">
                            -4			</option>
                          <option value="-3">
                            -3			</option>
                          <option value="-2">
                            -2			</option>
                          <option value="-1">
                            -1			</option>
                          <option value="0" selected="">
                            default
                          </option>
                          <option value="+1">
                            +1			</option>
                          <option value="+2">
                            +2			</option>
                          <option value="+3">
                            +3			</option>
                          <option value="+4">
                            +4			</option>
                          <option value="+5">
                            +5			</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Personal info text style</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect" data-prefix="fStylePersonalText" data-classes="form__input form__input--md settingSelect">
                          <option value="">normal</option>
                          <option value="Bold" class="optBold">Bold</option>
                          <option value="Italic" class="optItalic">Italic</option>
                          <option value="BoldItalic" class="optBoldItalic">bold italic</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div></div>


            <div class="panel panel--white-line">
              <div class="panel__heading">
                School/Company name

                <div class="right-wrapper">
                </div>
              </div>

              <div class="panel__body">						<div class="form form--labeled form--lowercase form--big-padding">
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Font size</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect settingSelectFontSize" data-prefix="fSizeH5" data-classes="form__input form__input--md settingSelect settingSelectFontSize">
                          <option value="-5">
                            -5			</option>
                          <option value="-4">
                            -4			</option>
                          <option value="-3">
                            -3			</option>
                          <option value="-2">
                            -2			</option>
                          <option value="-1">
                            -1			</option>
                          <option value="0" selected="">
                            default
                          </option>
                          <option value="+1">
                            +1			</option>
                          <option value="+2">
                            +2			</option>
                          <option value="+3">
                            +3			</option>
                          <option value="+4">
                            +4			</option>
                          <option value="+5">
                            +5			</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Style</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect optBold" data-prefix="fStyleH5" data-classes="form__input form__input--md settingSelect">
                          <option value="">normal</option>
                          <option value="Bold" class="optBold">Bold</option>
                          <option value="Italic" class="optItalic">Italic</option>
                          <option value="BoldItalic" class="optBoldItalic">bold italic</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                      `									</div>
                  </div>
                </div>
              </div>
              </div></div>

            <div class="panel panel--white-line">
              <div class="panel__heading">
                Experience and Additional Activities subtitle

                <div class="right-wrapper">
                </div>
              </div>

              <div class="panel__body">						<div class="form form--labeled form--lowercase form--big-padding">
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Font size</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect settingSelectFontSize" data-prefix="fSizeH6" data-classes="form__input form__input--md settingSelect settingSelectFontSize">
                          <option value="-5">
                            -5			</option>
                          <option value="-4">
                            -4			</option>
                          <option value="-3">
                            -3			</option>
                          <option value="-2">
                            -2			</option>
                          <option value="-1">
                            -1			</option>
                          <option value="0" selected="">
                            default
                          </option>
                          <option value="+1">
                            +1			</option>
                          <option value="+2">
                            +2			</option>
                          <option value="+3">
                            +3			</option>
                          <option value="+4">
                            +4			</option>
                          <option value="+5">
                            +5			</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Style</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect optItalic" data-prefix="fStyleH6" data-classes="form__input form__input--md settingSelect">
                          <option value="">normal</option>
                          <option value="Bold" class="optBold">Bold</option>
                          <option value="Italic" class="optItalic">Italic</option>
                          <option value="BoldItalic" class="optBoldItalic">bold italic</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div></div>



            <div class="panel panel--white-line">
              <div class="panel__heading">
                Document

                <div class="right-wrapper">
                </div>
              </div>

              <div class="panel__body">					<div class="form form--labeled form--lowercase form--big-padding">
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-sm-3 l-col-xs-12">
                      <label>Page padding top</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect" data-prefix="pagePaddingTop" data-classes="form__input form__input--md settingSelect">
                          <option value="" selected="">0</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                          <option value="25">25</option>
                          <option value="30">30</option>
                          <option value="35">35</option>
                          <option value="40">40</option>
                          <option value="45">45</option>
                          <option value="50">50</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-3 l-col-xs-12">
                      <label>Page padding bottom</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect" data-prefix="pagePaddingBottom" data-classes="form__input form__input--md settingSelect">
                          <option value="" selected="">0</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                          <option value="25">25</option>
                          <option value="30">30</option>
                          <option value="35">35</option>
                          <option value="40">40</option>
                          <option value="45">45</option>
                          <option value="50">50</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-3 l-col-xs-12">
                      <label>Page padding left</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect" data-prefix="pagePaddingLeft" data-classes="form__input form__input--md settingSelect">
                          <option value="" selected="">0</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                          <option value="25">25</option>
                          <option value="30">30</option>
                          <option value="35">35</option>
                          <option value="40">40</option>
                          <option value="45">45</option>
                          <option value="50">50</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-3 l-col-xs-12">
                      <label>Page padding right</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect" data-prefix="pagePaddingRight" data-classes="form__input form__input--md settingSelect">
                          <option value="" selected="">0</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                          <option value="25">25</option>
                          <option value="30">30</option>
                          <option value="35">35</option>
                          <option value="40">40</option>
                          <option value="45">45</option>
                          <option value="50">50</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Column spacing</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect" data-prefix="colSpace" data-classes="form__input form__input--md settingSelect">
                          <option value="" selected="">0</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                          <option value="25">25</option>
                          <option value="30">30</option>
                          <option value="35">35</option>
                          <option value="40">40</option>
                          <option value="45">45</option>
                          <option value="50">50</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                    <div class="l-col-sm-6 l-col-xs-12">
                      <label>Section spacing</label>
                      <div class="form__select">
                        <select class="form__input form__input--md settingSelect" data-prefix="secSpace" data-classes="form__input form__input--md settingSelect">
                          <option value="" selected="">0</option>
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                          <option value="25">25</option>
                          <option value="30">30</option>
                        </select>

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div></div>

            <div class="panel panel--white-line">
              <div class="panel__heading">
                Page numbers

                <div class="right-wrapper">
                </div>
              </div>

              <div class="panel__body">					<div class="form form--labeled form--lowercase form--big-padding">
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-sm-3 l-col-xs-12">
                      <label>Display page numbers</label>
                      <div class="form__select">

                        <span class="form__select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div></div>
          </div>
        </div>
      </div>

      <div id="previewAndCustomize" class="section-content" style="" data-section="preview">
        <div class="section-content__wrapp">



          <div class="c-document" id="creatorContainer" style="width: 1774.44px; height: 1400px; padding-left: 0px; padding-right: 0px;">
            <div class="c-document__content" id="creatorContent" style="transform: scale(1); height: 1400px;">			<div class="page fFamilyTxtArimo pagePaddingTop40 pagePaddingRight40 pagePaddingBottom40 pagePaddingLeft40 secSpace15 colSpace20 dateSeparatorDash dateTextStyleBold fStyleH3Bold fStyleH4Bold fStyleH5Bold fStyleH6Italic fStylePersonalTitleBold fStyleDateBold pageSplitted" data-id="c11142b1-c241-4424-9ee4-bb63d93cc678" data-template-id="285" data-language="en_EN" data-type="cv" data-name="My resume" data-photo="154" data-first-name="Denys" data-last-name="Onufriiev"><div class="dRow firstRow"><div class="dCol dateLayoutLine dateSeparatorDash dateStickSeparatorFrom dateTextStyleBold colorTxtMediumBlack3 colorNameVioletBlue2 colorLastNameVioletBlue2 colorPositionVioletBlue2 colorImgBrdVioletBlue2 colorImgBgVioletBlue2 colorSecTitVioletBlue2 colorSecTitBgWhite3 colorSecTitBrdLightSilver3 colorSecLineLightSilver3 colorSecPointVioletBlue2 colorSecPointShadowVioletBlue1 colorEntTitMediumBlack3 colorEntSubMediumBlack3 colorEntBoldMediumBlack3 colorEntIcoWhite3 colorEntIcoBgVioletBlue3 colorIcoWhite3 colorIcoBgVioletBlue3 colorRatOnVioletBlue3 colorRatOffLightSilver3 colorRatAddVioletBlue3 colorBgWhite3 colorBgHfWhite3 colorDateMediumBlack3 colorDateBgVioletBlue2 firstCol" style="width: 72%; height: 334px;"><div class="section sectionType1 sectionBasic existingSection">
              <div class="entry existingEntry">

                <div class="secType1Container">
                  <h1>
                    <span class="firstname">Denys</span>
                    <span class="lastname">Onufriiev</span>
                  </h1>
                  <h2>QA Engineer</h2>
                </div>
              </div>
            </div><div class="section sectionType2 sectionPersonal secTitleOff secType2StyleCols secType2EntStyleLine entryTitleOff entryIcoOn entryIcoStyleSquare existingSection">
              <h3 class="title"><span class="ico"></span><span class="txt">Personal Info</span></h3>
              <div class="entryContainer content"><div class="entry personalAddress existingEntry" data-order="1">
                <div class="pointer"></div>
                <div class="ico"></div>
                <h4 class="personalTitle">Address</h4>
                <div class="personalText"><p>Odessa, Ukraine</p>

                  <p></p></div>
              </div><div class="entry personalPhone existingEntry" data-order="2">
                <div class="pointer"></div>
                <div class="ico"></div>
                <h4 class="personalTitle">Phone</h4>
                <div class="personalText">+380934875784</div>
              </div><div class="entry personalEmail entryExample existingEntry" data-order="3">
                <div class="pointer"></div>
                <div class="ico"></div>
                <h4 class="personalTitle">E-mail</h4>
                <div class="personalText"><a href="mailto:denonufriiev@gmail.com" rel="nofollow" target="_blank">denonufriiev@gmail.com</a></div>
              </div><div class="entry dateBirth personalBirthday existingEntry" data-birth-day="" data-birth-month="" data-birth-year="" data-order="5">
                <div class="pointer"></div>
                <div class="ico"></div>
                <h4 class="personalTitle">Date of birth</h4>
                <div class="personalText">1979-08-09</div>
              </div></div>
              <div class="entryContainer content"><div class="entry personalCustom icoFacebook existingEntry" data-order="200">
                <div class="pointer"></div>
                <div class="ico"></div>
                <h4 class="personalTitle">Facebook</h4>
                <div class="personalText"><a href="https://www.facebook.com/den.onufriiev" target="_blank" rel="nofollow">https://www.facebook.com/den.onufriiev</a></div>
              </div><div class="entry personalCustom icoSkype existingEntry" data-order="200">
                <div class="pointer"></div>
                <div class="ico"></div>
                <h4 class="personalTitle">Skype</h4>
                <div class="personalText"><a href="http://surfing_cat/" target="_blank" rel="nofollow">surfing_cat</a></div>
              </div></div></div></div><div class="dCol dateLayoutLine dateSeparatorDash dateStickSeparatorFrom dateTextStyleBold colorTxtMediumBlack3 colorNameVioletBlue2 colorLastNameVioletBlue2 colorPositionVioletBlue2 colorImgBrdVioletBlue2 colorImgBgVioletBlue2 colorSecTitVioletBlue2 colorSecTitBgWhite3 colorSecTitBrdLightSilver3 colorSecLineLightSilver3 colorSecPointVioletBlue2 colorSecPointShadowVioletBlue1 colorEntTitMediumBlack3 colorEntSubMediumBlack3 colorEntBoldMediumBlack3 colorEntIcoWhite3 colorEntIcoBgVioletBlue3 colorIcoWhite3 colorIcoBgVioletBlue3 colorRatOnVioletBlue3 colorRatOffLightSilver3 colorRatAddVioletBlue3 colorBgWhite3 colorBgHfWhite3 colorDateMediumBlack3 colorDateBgVioletBlue2 lastCol" style="width: 28%; height: 334px;"><div class="section sectionType3 sectionPhoto existingSection">
              <div class="entry existingEntry">
                <figure>
                  <img src="./My resume _ Uptowork66_files/c11142b1-c241-4424-9ee4-bb63d93cc678.jpg" alt="">
                </figure>
              </div>
            </div></div></div><div class="dRow lastRow" style="height: 1066px;"><div class="dCol secTitMarginBottom10 secTitBorderBottomWidth1 secTitBorderBottomStyleSolid secAccIcoSquare dateLayoutColAll dateSeparatorDash dateStickSeparatorFrom dateTextStyleBold colorTxtMediumBlack3 colorNameVioletBlue2 colorLastNameVioletBlue2 colorPositionVioletBlue2 colorImgBrdVioletBlue2 colorImgBgVioletBlue2 colorSecTitVioletBlue2 colorSecTitBgWhite3 colorSecTitBrdLightSilver3 colorSecLineLightSilver3 colorSecPointVioletBlue2 colorSecPointShadowVioletBlue1 colorEntTitMediumBlack3 colorEntSubMediumBlack3 colorEntBoldMediumBlack3 colorEntIcoWhite3 colorEntIcoBgVioletBlue3 colorIcoWhite3 colorIcoBgVioletBlue3 colorRatOnVioletBlue3 colorRatOffLightSilver3 colorRatAddVioletBlue3 colorBgWhite3 colorBgHfWhite3 colorDateMediumBlack3 colorDateBgVioletBlue2 firstCol lastCol" style="width: 100%; height: 1066px;"><div class="section sectionType6 sectionExperience existingSection">
              <h3 class="title"><span class="ico"></span><span class="txt">Experience</span></h3>
              <div class="entryContainer"><div class="entry existingEntry" data-date-from-year="" data-date-from-month="" data-date-to-year="" data-date-to-month="">
                <div class="pointer"></div>
                <div class="dates" style="margin-top: 2px;">					<span class="dateFrom">2016-05</span>
                  <span class="dateSeparator"></span>
                  <span class="dateTo">present</span>
                </div>
                <div class="content">
                  <h5 class="title"><span class="normalText"><p><b>HTML+CSS dev/ Content manager</b></p>

<p></p></span></h5>
                  <h6 class="subtitle"><span class="normalText"><p><b>Norse Digital</b></p>

<p></p></span></h6>
                  <div class="text desc"><p>- Updating web sites with new elements (sliders, hyperlinks, buttons, menu);</p>

                    <p>- Editting base templates and stylesheet files of sites for new requirements of customers; </p>

                    <p>- Update text elements and images to post on the sites; </p>

                    <p>- Working through web content management systems eZPublish CMS to track changes in content, add and edit content</p>

                    <p>- Working with Wordpress cms system, creating new fields and pages, updating Wordpress themes with new images and layouts;</p>

                    <p>- Creating images and visual elements of design (banners, sliders, backgrounds) using GIMP 2.8;  </p>

                    <p>- Working with Bootstrap library, creating grids and elements of web-pages using Bootstrap styles;</p>

                    <p>- Testing for Functional / Integration of web site (Front-end&amp;Back-end(Rest Api testing)). Using different test environment: Browsers (IE, Chrome, FireFox, Safari, etc) OS(Windows, Linux, IOS, Android); Mobile testing;&nbsp;<br></p>

                    <p>-&nbsp;<span>Close cooperation with developers&nbsp;</span><span>team;</span></p>

                    <p></p></div>
                </div>
              </div></div>
            </div><div class="section sectionType5 sectionEducation existingSection">
              <h3 class="title"><span class="ico"></span><span class="txt">Education</span></h3>
              <div class="entryContainer"><div class="entry existingEntry" data-date-from-year="" data-date-from-month="" data-date-to-year="" data-date-to-month="">
                <div class="pointer"></div>
                <div class="dates" style="margin-top: 2px;">					<span class="dateFrom">2017-09</span>
                  <span class="dateSeparator"></span>
                  <span class="dateTo">present</span>
                </div>
                <div class="content">
                  <h5 class="title"><span class="normalText"><p><b>Practice with QA Mentor</b></p></span></h5>
                  <div class="text desc"><p>Manual testing: Mobile, UI, Functional, Regression, Documentation testing; Create Test Case, Bug Report,  Status and Quality reporting, Testing under multiple OS, Browsers</p></div>
                </div>
              </div><div class="entry existingEntry" data-date-from-year="" data-date-from-month="" data-date-to-year="" data-date-to-month="">
                <div class="pointer"></div>
                <div class="dates" style="margin-top: 2px;">					<span class="dateFrom">2017-03</span>
                  <span class="dateSeparator"></span>
                  <span class="dateTo">present</span>
                </div>
                <div class="content">
                  <h5 class="title"><span class="normalText"><p><b>Lviv IT School</b></p>

<p></p></span></h5>
                  <div class="text desc"><p>Ruby and Ruby on Rails; Create Startup - <a href="http://booksget.herokuapp.com/" rel="nofollow" target="_blank"><b><u>Booksget</u></b></a><b></b></p>

                    <p></p>

                    <p></p></div>
                </div>
              </div><div class="entry existingEntry" data-date-from-year="" data-date-from-month="" data-date-to-year="" data-date-to-month="">
                <div class="pointer"></div>
                <div class="dates" style="margin-top: 2px;">					<span class="dateFrom">1996</span>
                  <span class="dateSeparator"></span>
                  <span class="dateTo">2000</span>
                </div>
                <div class="content">
                  <h5 class="title"><span class="normalText"><p><b>Odessa National Academy of Communication,</b></p>

<p></p></span></h5>
                  <div class="text desc"><p>Fiber Optic System .&nbsp;</p>

                    <p><span>Masters degree;</span></p>

                    <p></p></div>
                </div>
              </div></div>
            </div><div class="section sectionType7 sectionSkills ratingSquare existingSection">
              <h3 class="title"><span class="ico"></span><span class="txt">Skills</span></h3>
              <div class="entryContainer content"><div class="entry skillDescOnly existingEntry">
                <div class="pointer"></div>
                <h4 class="descShort"><span class="normalText"><p><b>Skills:</b>&nbsp;HTML+CSS; Bootstrap; Symfony;&nbsp; GitHub;&nbsp; SSH; Jira;&nbsp;Ubuntu Terminal;</p>

<p></p></span></h4>


              </div><div class="entry skillDescOnly existingEntry">
                <div class="pointer"></div>
                <h4 class="descShort"><span class="normalText"><p><b>Practice&nbsp;skills: </b>Manual testing: Mobile, UI, Functional, Regression, Documentation testing; Create Test Case, Bug Report, Status and Quality reporting, Testing under multiple OS, Browsers;&nbsp;Attention to details, analytical thinking, upper Intermediate theoretical testing background;</p>

<p></p></span></h4>


              </div><div class="entry skillDescOnly existingEntry">
                <div class="pointer"></div>
                <h4 class="descShort"><span class="normalText"><p><b>IDE:</b> RubyMine, Sublime;&nbsp;&nbsp;<b>CMS:</b> eZPlatform, Wordpress;&nbsp;Adobe PhotoShop+Illustrator; Corel Draw; Gimp;&nbsp;</p>

<p></p></span></h4>


              </div><div class="entry skillDescOnly existingEntry">
                <div class="pointer"></div>
                <h4 class="descShort"><span class="normalText"><p><b>Use:&nbsp;</b>PHP; Time Viewer; eZPlatform</p>

<p></p></span></h4>


              </div><div class="entry skillDescOnly existingEntry">
                <div class="pointer"></div>
                <h4 class="descShort"><span class="normalText"><p><b>Study:</b> Javascript, Ruby and Ruby on Rails, MySQL, JSON, XML;</p>

<p></p></span></h4>


              </div></div>
            </div></div></div></div>
            </div>
          </div>

          <div class="c-document" id="printPreviewContainer">
            <div class="c-document__content" id="printPreviewContent"></div>
          </div>
        </div>

        <div class="previewBottomMenu" style="display: block;">
          <div class="l-row">

          </div>
        </div>
      </div>
      <div class="section-content" style="display: none" data-section="header">
        <div class="section-content__wrapp">
          <div class="panel panel--white-line">
            <div class="panel__heading">
              Header
              <div class="right-wrapper">
              </div>
            </div>

            <div class="panel__body">
              <div class="form form--lowercase form--big-padding">
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-xs-12">
                      <div class="textareaMediumEditor" data-classname="textarea-me" data-placeholder="Enter your header content." data-t="d" data-i="22" data-pt=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </div></div>
        </div>
      </div>

      <div class="section-content" style="display: none" data-section="footer">
        <div class="section-content__wrapp">
          <div class="panel panel--white-line">
            <div class="panel__heading">
              Footer
              <div class="right-wrapper">
              </div>
            </div>

            <div class="panel__body">
              <div class="form form--lowercase form--big-padding">
                <div class="form__row">
                  <div class="l-row">
                    <div class="l-col-xs-12">
                      <div class="textareaMediumEditor" data-classname="textarea-me" data-placeholder="Enter your footer content." data-t="d" data-i="23" data-pt=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </div></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body></html>













